<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Онлайн фильмотека</title>
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/form_validation.js"></script>
    <link rel="stylesheet" media="screen" href="/css/library.css">
    <link href="/img" type="image/jpeg">
    <link href="webjars/bootstrap/5.3.0/css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
<body>
<main class="content-wrapper">
    <div th:replace="~{layoutFragments/header :: header}"></div>
    <div class="container">
        <div layout:fragment="content">
            <div th:replace="~{layoutFragments/carousel :: carousel}"></div>
        </div>
    </div>
    <div th:replace="~{layoutFragments/footer :: footer}"></div>
</main>
</body>
</html>